<h1>Deal the Deck</h1>

<%
card1 = rand(13) + 1
card2 = rand(13) + 1
card3 = rand(13) + 1
card4 = rand(13) + 1
card5 = rand(13) + 1 
%>


<img src="http://golearntocode.com/images/cards/<%= card1 %>.png">
<img src="http://golearntocode.com/images/cards/<%= card2 %>.png">
<img src="http://golearntocode.com/images/cards/<%= card3 %>.png">
<img src="http://golearntocode.com/images/cards/<%= card4 %>.png">
<img src="http://golearntocode.com/images/cards/<%= card5 %>.png">